# Client
NEXT_PUBLIC_APP_NAME=XSELL
# Storage ini di dapat dari backend (golang) *pastikan url sama persis tanpa /
NEXT_PUBLIC_STORAGE_URL=http://localhost:8002
# Ini url dari Aplikasi Fe *pastikan url sama persis
NEXT_PUBLIC_SITE_URL=http://localhost:3000
# NIlai mata uang
# NEXT_PUBLIC_CURRENCY=USD
# NEXT_PUBLIC_CURRENCY=EUR
# NEXT_PUBLIC_CURRENCY=JPY
NEXT_PUBLIC_CURRENCY=IDR
NEXT_PUBLIC__DEFAULT_LOCATION_LAT=-5.4460713
NEXT_PUBLIC__DEFAULT_LOCATION_LON=105.2643742
NEXT_PUBLIC__DEFAULT_LOCATION_ADDRESS="Bandar Lampung, Lampung"
# Untuk Map Key di dapat dari https://locationiq.com/
NEXT_PUBLIC_MAP_KEY=asdsadasdasd
NEXT_PUBLIC_DATE_LOCALE='en-US'
NEXT_PUBLIC_TIMEZONE='Asia/Jakarta'
NEXT_PUBLIC_CONTACT_EMAIL=bebaserror@gmail.com
NEXT_PUBLIC_FACEBOOK=https://facebook.com
NEXT_PUBLIC_INSTAGRAM=https://instagram.com
NEXT_PUBLIC_LINKEDIN=https://linkedin.com

# Server adalah url dari backend (golang) *pastikan url sama persis
BE_API=http://localhost:8002/api/v1/

# Other
NODE_ENV=development